@model TrabalhoPWEB1.Models.ApplicationUser

@{
    ViewData["Title"] = "Create Funcionario";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Adicionar novo membro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFuncionario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label class="control-label form-label">Primeiro Nome</label>
                <input asp-for="PrimeiroNome" class="form-control" />
                <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label form-label">Último Nome</label>
                <input asp-for="UltimoNome" class="form-control" />
                <span asp-validation-for="UltimoNome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top:1%;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top:1%;">
    <a class="btn btn-secondary" asp-action="Index"><svg bootstrap-icon="ArrowLeft" width="24" height="24"></svg> Voltar atrás</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
