
<ul class="navbar-nav mt-3" style="display:flex; flex-direction:row;">
    <li>
        <form method="post" action="Empresas" style="display:flex;  align-items:center;">
            <label style="margin-right:0.5rem;">Ordenar Empresas</label>
            <select class="form-select" id="ordenarResultados" name="ordenarResultados">
                <option></option>
                <option value="UpN">
                    Nome ↑
                </option>
                <option value="DownN">
                    Nome ↓
                </option>
                <option value="UpES">
                    Estado Subscrição ↑
                </option>
                <option value="DownES">
                    Estado Subscrição ↓
                </option>
            </select>
            <button id="botaoPesquisa" type="submit">
                🔍
            </button>
        </form>
    </li>
</ul>