<ul class="navbar-nav" style="display:flex; flex-direction:row;">
<li>
    <form method="post" action="/Veiculos/Search">
        <input type="text" id="pesquisarTexto" name="pesquisarTexto"
               placeholder="Ex.: Lamborghini" />
        <button id="botaoPesquisa" type="submit">
            🔍
        </button>
    </form>
</li>
<li style="margin-left:2rem;">
    <form method="post" action="/Veiculos/Search" style="display:flex;  align-items:center;">
        <label style="margin-right:0.5rem;">Data Levantamento</label>
        <input type="date" id="pesquisaLevantamento" name="pesquisaLevantamento">
        <span class="text-danger"></span>


        <label style="margin-left:1rem; margin-right:0.5rem;">Data Entrega</label>
        <input type="date" id="pesquisaEntrega" name="pesquisaEntrega">
        <span class="text-danger"></span>
        <button id="botaoPesquisa" type="submit">
            🔍
        </button>
    </form>
</li>
</ul>



<ul class="navbar-nav mt-3" style="display:flex; flex-direction:row;">
    <li>
        @if(User.IsInRole("Funcionario")){
            <form method="post" action="/Veiculos/Search" style="display:flex;  align-items:center;">
                <label style="margin-right:0.5rem;">Ordenar Veículos</label>
                <select class="form-select" id="ordenarResultados2" name="ordenarResultados2">
                    <option></option>
                    <option value="UpC">
                        Categoria ↑
                    </option>
                    <option value="DownC">
                        Categoria ↓
                    </option>
                    <option value="UpE">
                        Estado ↑
                    </option>
                    <option value="DownE">
                        Estado ↓
                    </option>
                </select>
                <button id="botaoPesquisa" type="submit">
                    🔍
                </button>
            </form>
        }
        else{
            <form method="post" action="/Veiculos/Search" style="display:flex;  align-items:center;">
                <label style="margin-right:0.5rem;">Ordenar Veículos</label>
                <select class="form-select" id="ordenarResultados" name="ordenarResultados">
                    <option></option>
                    <option value="UpP">
                        Preço ↑
                    </option>
                    <option value="DownP">
                        Preço ↓
                    </option>
                    <option value="UpC">
                        Classificação ↑
                    </option>
                    <option value="DownC">
                        Classificação ↓
                    </option>
                </select>
                <button id="botaoPesquisa" type="submit">
                    🔍
                </button>
            </form>
        }
        
    </li>
</ul>